/* styles.css */

body {
    font-family: Arial, sans-serif;
  }

  label{
    color: black;
  }
  
  .survey-container {
    width: 60%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  h2, h3 {
    text-align: center;

  }
  
  .input-group {
    margin-top: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ol {
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 15px;
  }
  
  .react-select__control {
    width: 100%;
  }
  