* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.HeaderTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 15vh;
  margin-left: 5vw;
}

.logos {
  display: flex;
  align-items: center;
  gap: 15px;
}

.collegeName {
  font-size: 1.8rem;
  color: #2a2a72;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: transform 0.3s ease;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.collegeName:hover {
  transform: scale(0.9);
}

.loginButton {
  background-color: #ff3366;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.loginButton:hover {
  background-color: #cc0044;
  transform: translateY(-2px);
}

.navigationOption {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
}

.navigationOption li {
  margin-right: 15px;
}

.navigationOption li:last-child {
  margin-right: 0;
}

.navigationOption li a {
  text-decoration: none;
  color: #2a2a72;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.3s ease, transform 0.2s ease;
}

.navigationOption li a:hover {
  color: #ff3366;
  transform: scale(0.8);
}

.courseDropDownCont {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  width: auto;
  margin-top: -5px;
}

.courseDropDownCont li {
  margin-bottom: 5px;
}

.courseDropDownCont li:last-child {
  margin-bottom: 0;
}

.courseLinkStyle {
  text-decoration: none;
  color: #2a2a72;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  transition: color 0.3s ease, transform 0.2s ease;
}

.courseLinkStyle:hover {
  color: #ff3366;
  transform: scale(0.9);
}

.HeaderTop {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loginButton {
  background: linear-gradient(135deg, #ff3366, #cc0044);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: float 3s infinite ease-in-out;
}

.navigationOption li a:hover {
  animation: rotate 0.5s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.courseDropDownCont {
  animation: float 3s infinite ease-in-out;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.navigationOption li a[href="/"] {
  background: none;
}

.navigationOption li a[href="/courses"] {
  background: none;
}
.aactive {
  color: pink !important;
  font-weight: bold !important;
}

.customMenuTable {
  width: 100%;
  border-collapse: collapse;
}

.customMenuTable td {
  border: 1px solid #ddd;
  padding: 20px;
  font-size: 18px;
  font-weight: 550;
  text-align: center;
  background-color: #f5f5f5;
  white-space: nowrap;
}

.customMenuTable td[rowSpan] {
  vertical-align: middle;
  padding: 0;
}

.customMenuTable td img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.customMenuTable td:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s ease;
}

.customMenuTable td {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.customMenuTable tr:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease;
}

.footer {
  background-color: #09203e;
  color: white;
  padding: 20px 0;
  width: 100vw;
}

.footerContainer {
  display: flex;
  justify-content: space-around;
}

.footerColumn {
  flex: 1;
  padding: 0 20px;
  white-space: nowrap;
}

.footerColumn h3 {
  margin-bottom: 10px;
}

.footerColumn a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footerLowerContainer {
  display: flex;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 4rem;
}

.footerLowerColumn {
  padding: 0 20px;
}

.footerLowerColumn div {
  font-family: DM Serif Display;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
}

.footerLowerColumn > a {
  text-decoration: none;
  white-space: nowrap;
  display: block;
  color: white;
  margin-top: 0.7rem;
}

/* about page */

.welcomeAboutContainer {
  width: 90vw;
  height: 60vh;
  display: flex;
  gap: 10px;
  margin-left: 5vw;
  margin-bottom: 5%;
  margin-top: 5vh;
}

.welcomeImageCont {
  width: 50%;
  height: 100%;
}

.welcomeImageCont img {
  width: 100%;
  height: 100%;
}

.welcomAboutCollegeCont {
  width: 50%;
  height: 100%;
  overflow: auto;
}

.welcomAboutCollegeCont p {
  font-size: 1.1rem;
  text-align: justify;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 40px;
}

.welcomeHeadingCont {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.welcomeHeadingCont span {
  font-size: 1.8rem;
  padding: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  color: #193a8a;
}

/* findOutMore Container style */

.findOutMoreCont {
  width: 100vw;
  height: auto;
  margin-left: 5vw;
  display: flex;
  justify-content: center;
  gap: 35px;
  margin: 0;
  margin-top: 5%;
}

.innerFindOutMoreCont {
  /* border:2px solid blue; */
  width: 27%;
  height: 50vh;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 3px;
  margin: 0;
}

.innerFindOutMoreCont img {
  /* width:100%;
  height:50%;
  object-fit: fill; */
  object-fit: fill;
  width: 100%;
  height: 50%;
  border-radius: 10px 10px 0 0;
}

.findOutCardCont {
  /* border:5px solid yellowgreen; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.findOutCardButton {
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #193a8a;
  cursor: pointer;
}

.findOutIcon {
  /* border:px solid red; */
  display: flex;
  justify-content: center;
  color: #193a8a;
  width: 80px;
  height: 80px;
}

.findOutHeading {
  /* border:2px solid royalblue; */
  display: flex;
  justify-content: center;
  color: #193a8a;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 2%;
}

.findOutCont {
  /* border:2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.findOutCardDes {
  /* border:2px solid red; */
  font-size: 1rem;
  display: flex;
  justify-content: center;
  /* height: auto; */
}

.findOutCardTitle {
  /* border:2px solid red; */
  color: #193a8a;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

/* course cont style */
.allCoursesCont {
  /* border:2px solid red; */
  width: 70vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: auto;
  gap: 20px;
}

.courseCont {
  /* border:2px solid red; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.courseCont h2 {
  color: #193a8a;
  font-weight: 700;
  font-size: 1.8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.courseRow {
  /* border:5px solid blue; */
  font-size: 1.3rem;
  padding: 5px;
}

.courseTable {
  /* border:2px solid red; */
  width: 100%;
  height: 100%;
}

.listOfCourseCont {
  border: 2px solid gray;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  border-radius: 10px;
  margin-bottom: 2%;
}

.listOfCourseCont h1 {
  color: #193a8a;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  border-bottom: 2px solid gray;
}

/* Gallery style */
.galleryCont {
  width: 90vw;
  height: auto;
  /* border:2px solid red; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 2%;
}

.galleryCardCont {
  width: 30%;
  height: auto;
  /* border:2px solid blue; */
  border-radius: 10px;
  box-shadow: 1px 1px 3px 3px;
}

.galleryCardCont img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* Faculty page style */

.facultyCont {
  width: 90vw;
  height: 35vh;
  /* border:2px solid red; */
  margin-left: 5vw;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}

.innerFacultyCont {
  /* border:2px solid blue; */
  width: 20%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 3px;
}

.innerFacultyCont img {
  width: 100%;
  height: 80%;
  object-fit: fill;
  border-radius: 10px 10px 0 0;
}

.facultyCardCont {
  /* border:2px solid red; */
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
}

.facultyCardCont span {
  font-size: 1.3rem;
  font-weight: bold;
}

.facultyPageIcon {
  /* border: px solid royalblue; */
  display: flex;
  justify-content: center;
  color: #193a8a;
}

.courseDropDownCont {
  /* display: none; */
  width: 20vw;
  height: auto;
  border: 2px solid gray;
  border-radius: 10px;
  position: absolute;
  right: 25%;
  top: 28%;
  box-shadow: 1px 1px 3px 3px;

  list-style: none;
}

.courseDropDownCont li {
  border: 2px solid gray;
  padding: 10px;
  background-color: #ddd;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.courseLinkStyle {
  text-decoration: none;
  color: #000;
}

@media (max-width: 600px) {
  .HeaderTop {
    width: 100vw;
    height: 10vh;
    /* border:2px solid blue; */
    /* display: flex;
    justify-content: space-between; */
    margin: 0;
  }

  .logos {
    width: 50%;
    height: auto;
    /* border:2px solid orangered; */
    /* margin-left: 20%; */
    margin: 0;
  }

  .logos img {
    width: 60px;
    height: 60px;
  }

  .collegeName {
    /* border:2px solid blue; */
    font-size: 1.1rem;
    width: 20vh;
  }

  .loginButton {
    /* border:2px solid red; */
    /* margin-right: 90vw; */
    margin-right: 3vw;
  }

  /* find out more style */
  .findOutMoreCont {
    width: 100vw;
    height: auto;
    /* border:5px solid red; */
    /* margin-left: 5vw; */
    display: flex;

    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 2%;
    gap: 25px;
  }

  .innerFindOutMoreCont {
    /* border:2px solid blue; */
    width: 70%;
    height: 100%;
    border-radius: 10px;
    margin-top: 5vh;
    box-shadow: 1px 1px 3px 3px;
  }

  .innerFindOutMoreCont img {
    width: 100%;
    height: 50%;
    object-fit: fill;
  }

  .findOutCardCont {
    /* border:2px solid red; */
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
  }

  .findOutCardCont span {
    font-size: 1.2rem;
    text-align: justify;
  }

  .findOutCardButton {
    border: none;
    width: 50%;
    padding: 8px;
    border-radius: 5px;
    color: white;
    /* background-color: #193a8a; */
    cursor: pointer;
    /* border:2px solid red; */
  }

  .findOutCont {
    width: 100vw;
    height: 15vh;
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .findOutIcon {
    /* border:px solid red; */
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
  }

  .findOutHeading {
    /* border:px solid red; */
    color: #193a8a;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .findOutCardDes {
    /* border:2px solid red; */
    font-size: 1rem;
    display: flex;
    justify-content: center;
    height: auto;
  }
  .findOutCardTitle {
    /* border:2px solid red; */
    color: #193a8a;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  /* footer */

  .footer {
    /* border:2px solid red; */
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footerContainer {
    /* border:5px solid red; */
    width: 100%;
    height: 80%;
    margin: 0;
    /* padding:15px; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 2px solid gray;
  }

  .footerColumn {
    /* border:2px solid gray; */
    margin: 0;
  }

  .footerColumn h3 {
    font-size: 1.8rem;
    border-bottom: 2px solid gray;
  }

  .footerLowerContainer {
    /* border:2px solid red; */
    width: 90%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .footerLowerColumn {
    /* border:2px solid gray; */
    padding: 15px;
    /* font-size: 1.3rem; */
  }

  /* about page style */
  .welcomeAboutContainer {
    /* border:2px solid blue; */
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 10%;
  }

  .welcomeImageCont {
    /* border:2px solid red; */
    width: 90%;
    height: 50%;
  }

  .welcomAboutCollegeCont {
    /* border:2px solid blue; */
    width: 90%;
    font-size: 2.5rem;
  }

  .welcomeHeadingCont {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
  }

  .welcomeHeadingCont span {
    font-size: 1.2rem;
  }

  /* courses style */

  .listOfCourseCont {
    /* border:2px solid red; */
    width: 100vw;
    margin-top: 10%;
    display: flex;
    justify-content: center;
  }

  .allCoursesCont {
    /* border:2px solid red; */
    width: 100%;
    margin: 0;
  }

  .courseCont {
    /* border:2px solid yellowgreen; */
    width: 100%;
    margin: 0;
  }

  .courseTable {
    /* border:2px solid blue; */
    width: 100%;
  }

  /* Faculty style */
  .facultyCont {
    /* border:2px solid red; */
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    margin: 0;
    gap: 5vh;
    margin-top: 5%;
  }

  .innerFacultyCont {
    /* border:2px solid blue; */
    width: 70%;
    height: 48vh;
  }

  .innerFacultyCont img {
    height: 85%;
    width: 100%;
    object-fit: fill;
  }

  .facultyCardCont {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
  }

  .facultyCardCont span {
    /* border:2px solid red; */
    height: auto;
    font-size: 1.7rem;
    padding: 5px;
    font-weight: bold;
  }

  .galleryCont {
    /* border:2px solid red; */
    width: 100vw;
    height: auto;
    gap: 50px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
  }

  .galleryCardCont {
    /* border:2px solid blue; */
    width: 70%;
  }

  .galleryHeading {
    /* border:2px solid red; */
    margin-top: 5%;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .HeaderTop {
    width: 100vw;
    height: 10vh;
    /* border:2px solid blue; */
    /* display: flex;
    justify-content: space-around; */
    margin: 0;
  }

  .logos {
    width: 50%;
    height: auto;
    /* border:2px solid orangered; */
    display: flex;
    justify-content: flex-start;
    margin: 0;
    margin-left: 4vw;
  }

  .logos img {
    width: 60px;
    height: 60px;
  }

  .collegeName {
    /* border:2px solid blue; */

    width: 80%;
    height: 100%;
    padding: 10px;
    font-size: 1.3rem;
  }

  .loginButton {
    /* border:2px solid red; */
    /* margin-right: 90vw; */
    margin-right: 3vw;
  }

  /* find out more style */
  .findOutMoreCont {
    width: 100vw;
    height: auto;
    /* border:5px solid red; */
    margin: 0;
    margin-top: 10%;
    /* gap:25px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .innerFindOutMoreCont {
    /* border:5px solid blue; */
    width: 42%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 3px;
    margin: 0;
  }

  .innerFindOutMoreCont img {
    width: 100%;
    height: 50%;
    object-fit: fill;
  }

  .findOutCardCont {
    /* border:5px solid red; */
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    /* line-height: 0.8; */
    /* display: flex;
      flex-direction: column;
      align-items: center; */

    /* align-items: center; */
  }

  .findOutCardCont span {
    font-size: 1rem;
    /* border:2px solid red; */
    margin: 0;
  }

  .findOutCardButton {
    border: none;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    color: white;
    /* background-color: #193a8a; */
    cursor: pointer;
    font-size: 1rem;
    /* border:2px solid red; */
  }

  .findOutCont {
    width: 100vw;
    height: 15vh;
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .findOutIcon {
    /* border:px solid red; */
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
  }

  .findOutCardDes {
    /* border: 2px solid red; */
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    height: auto;
  }

  .findOutCardTitle {
    /* border: 2px solid red; */
    color: #193a8a;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  .findOutHeading {
    /* border:px solid red; */
    color: #193a8a;
    font-size: 2.3rem;
    font-weight: bold;
    /* background-color: red; */
  }

  /* footer */

  .footer {
    /* border:2px solid red; */
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footerContainer {
    /* border:5px solid red; */
    width: 100%;
    height: 80%;
    margin: 0;
    /* padding:15px; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 2px solid gray;
  }

  .footerColumn {
    /* border:2px solid gray; */
    margin: 0;
  }

  .footerColumn h3 {
    font-size: 1.8rem;
    border-bottom: 2px solid gray;
  }

  .footerLowerContainer {
    /* border:2px solid red; */
    width: 90%;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .footerLowerColumn {
    /* border:2px solid gray; */
    padding: 15px;
    font-size: 1.3rem;
  }

  /* about page style */
  .welcomeAboutContainer {
    /* border:2px solid blue; */
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10%;
  }

  .welcomeImageCont {
    /* border:2px solid red; */
    width: 60%;
    height: 50%;
  }

  .welcomAboutCollegeCont {
    /* border:2px solid blue; */
    width: 60%;
    font-size: 3.5rem;
  }

  .welcomeHeadingCont {
    margin-bottom: 5%;
  }

  /* courses style */

  .listOfCourseCont {
    /* border:2px solid red; */
    width: 100vw;
    margin-top: 10%;
  }

  .allCoursesCont {
    /* border:2px solid red; */
    width: 100%;
  }

  /* Faculty style */
  .facultyCont {
    /* border:2px solid red; */
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    margin: 0;
    gap: 5vh;
    margin-top: 5%;
  }

  .innerFacultyCont {
    /* border:2px solid blue; */
    width: 25%;
    height: 50vh;
  }

  .innerFacultyCont img {
    height: 85%;
  }

  .facultyCardCont {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
  }

  .facultyCardCont span {
    /* border:2px solid red; */
    height: auto;
    font-size: 1.7rem;
  }

  .galleryCont {
    /* border:2px solid red; */
    width: 100vw;
    height: auto;
    gap: 50px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
  }

  .galleryCardCont {
    /* border:2px solid blue; */
    width: 45%;
  }

  .galleryHeading {
    /* border:2px solid red; */
    margin-top: 5%;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .HeaderTop {
    width: 100vw;
    height: 10vh;
    /* border:2px solid blue; */
    /* display: flex;
    justify-content: space-around; */
    margin: 0;
  }

  .logos {
    width: 50%;
    height: auto;
    /* border:2px solid orangered; */

    display: flex;
    justify-content: flex-start;
    margin: 0;
    margin-left: 4vw;
  }

  .logos img {
    width: 60px;
    height: 60px;
  }

  .collegeName {
    /* border:2px solid blue; */

    width: 80%;
    height: 100%;
    padding: 10px;
    font-size: 1.3rem;
  }

  .loginButton {
    /* border:2px solid red; */
    /* margin-right: 90vw; */
    margin-right: 3vw;
  }

  /* find out more style */
  .findOutMoreCont {
    width: 100vw;
    height: auto;
    /* border:5px solid red; */
    margin: 0;
    margin-top: 7%;
    /* gap:25px; */
    display: flex;
    flex-wrap: wrap;
  }

  .innerFindOutMoreCont {
    /* border:5px solid blue; */
    width: 30%;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 3px;
    margin: 0;
  }

  .innerFindOutMoreCont img {
    width: 100%;
    height: 50%;
    object-fit: fill;
  }

  .findOutCardCont {
    /* border: 2px solid red; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    vertical-align: auto;

    /* padding:10px; */
  }

  .findOutCardDes {
    /* border: 2px solid red; */
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    height: auto;
  }

  .findOutCardTitle {
    /* border: 2px solid red; */
    color: #193a8a;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  .findOutCardButton {
    /* border: 2px solid sienna; */
    width: 100%;
    /* padding:10px; */
    border-radius: 5px;
    color: white;
    /* background-color: #193a8a; */
    cursor: pointer;
    font-size: 1.3rem;
  }

  .findOutCont {
    width: 100vw;
    height: 15vh;
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .findOutIcon {
    /* border:px solid red; */
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
  }

  .findOutHeading {
    /* border:px solid red; */
    color: #193a8a;
    font-size: 2.3rem;
    font-weight: bold;
    /* background-color: red; */
  }

  /* footer */

  .footer {
    /* border:2px solid red; */
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footerContainer {
    /* border:5px solid red; */
    width: 100%;
    height: 80%;
    margin: 0;
    /* padding:15px; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 2px solid gray;
  }

  .footerColumn {
    /* border:2px solid gray; */
    margin: 0;
  }

  .footerColumn h3 {
    font-size: 1.8rem;
    border-bottom: 2px solid gray;
  }

  .footerLowerContainer {
    /* border:2px solid red; */
    width: 90%;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .footerLowerColumn {
    /* border:2px solid gray; */
    padding: 15px;
    font-size: 1.3rem;
  }

  /* about page style */
  .welcomeAboutContainer {
    /* border:2px solid blue; */
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 5%;
  }

  .welcomeImageCont {
    /* border:2px solid red; */
    width: 70%;
    height: 50%;
  }

  .welcomAboutCollegeCont {
    /* border:2px solid blue; */
    width: 70%;
    font-size: 3.5rem;
  }

  .welcomeHeadingCont {
    margin-bottom: 5%;
  }

  /* courses style */

  .listOfCourseCont {
    /* border:2px solid red; */
    width: auto;
    margin-top: 10%;
  }

  .allCoursesCont {
    /* border:2px solid red; */
    width: 90%;
  }

  /* Faculty style */
  .facultyCont {
    /* border:2px solid red; */
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    margin: 0;
    gap: 5vh;
    margin-top: 5%;
  }

  .innerFacultyCont {
    /* border:2px solid blue; */
    width: 25%;
    height: 50vh;
  }

  .facultyCardCont {
    width: 100%;
    height: 10%;
    /* border:2px solid red; */
    display: flex;
    align-items: center;
  }

  .innerFacultyCont img {
    height: 80%;
  }

  .facultyCardCont span {
    /* border:2px solid red; */
    height: auto;
    font-size: 1.7rem;
  }

  .galleryCont {
    /* border:2px solid red; */
    width: 100vw;
    height: auto;
    gap: 25px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
  }

  .galleryCardCont {
    /* border:2px solid blue; */
    width: 30%;
  }

  .galleryHeading {
    /* border:2px solid red; */
    margin-top: 5%;
  }
}

@media (min-width: 1200px) {
  /* find out more style */
  .findOutMoreCont {
    width: 100vw;
    height: auto;
    /* border:5px solid red; */
    margin: 0;
    margin-top: 4%;
    /* gap:25px; */
    display: flex;
    flex-wrap: wrap;
  }

  .innerFindOutMoreCont {
    /* border:5px solid blue; */
    width: 25%;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 3px;
    margin: 0;
    text-align: center;
  }

  .innerFindOutMoreCont img {
    width: 100%;
    height: 50%;
    object-fit: fill;
  }

  .findOutCardCont {
    /* border:2px solid red; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
  }

  .findOutCardCont span {
    font-size: 1.5rem;
  }

  .findOutCardButton {
    border: none;
    width: 100%;
    /* padding:10px; */
    border-radius: 5px;
    color: white;
    /* background-color: #193a8a; */
    cursor: pointer;
    font-size: 1.3rem;
  }

  .findOutCardDes {
    /* border:2px solid red; */
    font-size: 1rem;
    display: flex;
    justify-content: center;
    /* height: auto; */
  }

  .findOutCardTitle {
    /* border:2px solid red; */
    color: #193a8a;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  .facultyCont {
    /* border:2px solid red; */
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    margin: 0;
    gap: 5vh;
    margin-top: 5%;
  }

  .innerFacultyCont {
    /* border:2px solid blue; */
    width: 25%;
    height: 50vh;
  }

  .facultyCardCont {
    width: 100%;
    height: 10%;
    /* border:2px solid red; */
    display: flex;
    align-items: center;
  }

  .innerFacultyCont img {
    height: 80%;
  }

  .facultyCardCont span {
    /* border:2px solid red; */
    height: auto;
    font-size: 1.7rem;
  }

  /* footer */

  .footer {
    /* border:2px solid red; */
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .footerContainer {
    /* border:5px solid blue; */
    width: 80%;
    height: 80%;
    margin: 0;
    /* padding:15px; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 2px solid gray;
  }

  .footerColumn {
    /* border:2px solid gray; */

    margin: 0;
  }

  .footerColumn h3 {
    font-size: 1.8rem;
    border-bottom: 2px solid gray;
  }

  .footerLowerContainer {
    /* border:2px solid red; */
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .footerLowerColumn {
    /* border:2px solid gray; */
    padding: 15px;
    font-size: 1.3rem;
  }
}
