.adminNavbarContainer {
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #09203e;
  color: white;
  flex-direction: row;
  padding: 10px;
}

.adminNavbarContainer .leftSection {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  font-weight: 500;
}

.adminNavbarContainer .rightSection {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 20px;
  font-weight: 500;
}

.adminNavbarContainer .rightSection .search-box input {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
}

.adminNavbarContainer .rightSection .search-box span {
  cursor: pointer;
}

.adminNavbarContainer .navbarIcons {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  margin-left: 0;
  justify-content: space-around;
}

.adminNavbarContainer .navbarIcons > span {
  cursor: pointer;
}

.adminNavbarContainer .notificationIcon {
  position: relative;
  color: white;
}
.adminNavbarContainer .notificationBadge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #fd0505;
  color: #fff;
  font-size: 14px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.adminNavbarContainer .calendarIcon {
  position: relative;
  color: white;
}
.adminNavbarContainer .calendarBadge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #063e9e;
  color: #fff;
  font-size: 14px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.adminNavbarContainer .navPopup {
  position: absolute;
  right: 15px;
  top: calc(10% + 10px);
  background-color: #6c93c6;
  width: 130px;
  display: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
}

.adminNavbarContainer .navPopup ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

.adminNavbarContainer .navPopup ul li {
  padding: 10px;
  border-bottom: 1px solid #000;
  color: white;
}

.adminNavbarContainer .navPopup ul li:hover {
  color: white;
  cursor: pointer;
  background-color: #bdd3ef;
}

.adminNavbarContainer .show {
  display: flex;
  flex-direction: column;
}
.adminNavbarContainer .adminProfileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.adminNavbarContainer .adminName {
  font-size: 16px;
}

@media (max-width: 768px) {
  .adminNavbarContainer {
    flex-direction: column;
    align-items: stretch;
    font-size: 10px;
  }

  .adminNavbarContainer {
    border-radius: 0;
  }
  .adminNavbarContainer .leftSection {
    font-size: 15px;
  }

  .adminNavbarContainer .adminName {
    font-size: 15px;
    text-align: left;
  }

  .adminNavbarContainer .rightSection .navbarIcons {
    flex-direction: row;
  }

  .adminNavbarContainer .rightSection .navbarIcons > span {
    margin: 5px 0;
  }
}
